.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: 'header' 'main';
  color: white;
}

header {
  grid-area: header;
  background: #121f4a;
}

main {
  grid-area: main;
  background: #0e1839;
}
