.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: 'header' 'main';
  color: white;
}

header {
  grid-area: header;
  background: #121f4a;
}

main {
  grid-area: main;
  overflow: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
